

<h1>Add a New Quote</h1>

<form action="/quotes" method="POST">
  <label>Text:</label><br />
  <input type="text" name="text" required /><br />

  <label>Author:</label><br />
  <input type="text" name="author" /><br />

  <label>Category:</label><br />
  <input type="text" name="category" /><br /><br />

  <button type="submit">Add Quote</button>
</form>
